In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\suraj\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\suraj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\suraj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\suraj\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\suraj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

## Q1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [58]:
# importing all  the neccessary libs
import pandas as pd 
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [59]:
#command for open  the  automation window of browser 
driver1 = webdriver.Chrome('chromedriver.exe')

In [60]:
#now  the automation page is opened now , we are opening  the required website page  in it 
driver1.get('https://www.naukri.com/')

In [61]:
#now  checking   for  the position which is required  to search  here ex-data anlyst

search_feild_designation= driver1.find_element(By.CLASS_NAME,'suggestor-input')
search_feild_designation.send_keys('Data Analyst')

In [62]:
#now  we will be  checking  the  next area  which by location  ex-bangolore 

search_location= driver1.find_element("xpath",('/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')).send_keys('Bangalore')

In [64]:
search_button= driver1.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[6]').click()

In [67]:
job_title=[]

title_tags=driver1.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="d8dea7a1-47ca-4abb-9dff-3b8a82310382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="d7b89158-1fbd-4b75-b447-cdf91f74e2c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="477de910-e8f9-4b9b-bd95-7bdcbe111c6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="59d03c96-6803-490d-b670-076ae2f18008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="1663e42a-15bb-46d1-8be1-f26c609861cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="7043c4ef-b1c7-48bf-8835-b75441e9ab5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="e0bd5d5c-e913-4698-bfb3-e56e744a5669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="4c343a9d-1772-45b6-a97a-cb4e46105c8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="750a2141-3b81-4fd7-8208-6d373d72110a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="804c0e5c-aab2-4314-b6f1-c7f27d853731")>]

In [68]:
# printing  the  10 job  titles  in the  text   format 
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Associate - Data Analyst',
 'Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Hiring For Data Analyst',
 'Data Analyst']

In [71]:
#  now  we  will be scraping  the  job location 
job_loc=[]
loc_tag= driver1.find_elements("xpath",('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]'))
loc_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="5e16ec96-7329-47c9-89e8-442bfae8954d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="7935401a-f26c-41ea-8f39-56a1783dffab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="4e3b1bf2-fe44-4ac7-a78d-f3a5d9a14b03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="581260bb-4748-4ce1-b70b-4c7f4e5b7969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="663ffb37-d015-4a12-bc98-b8114010bb6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="9424a924-7683-4b49-86e5-de6b54105d56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="7bdd1306-5ed1-4fe1-b85a-57e2186d1328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="eea94882-a9d5-4a1b-82b6-ef3210edaf90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="e861424d-0499-4df2-ad75-86d190323fa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="cbeb7a6d-46cb-4392-9119-1ad65094c759")>]

In [72]:
# now  printing  the  10  job locations here in text
for i in loc_tag:
    loc=i.text
    job_loc.append(loc)
job_loc[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune']

In [74]:
#now printing  all the 10 comapany names
work_co=[]
company_tag = driver1.find_elements("xpath",('//a[@class="subTitle ellipsis fleft"]'))
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="d9dd9040-3635-43ed-8b02-42c85664cfef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="67c2d851-17de-4ab7-b585-f53ad7efb6b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="6c38d946-035c-463f-9618-03cf39fea75d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="29fdbec5-46f9-4e46-b8fa-b2c49731f5de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="abeca098-40ef-406c-b0c0-0fe1d3d001bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="87ac25f3-a3e6-4edf-92bf-7e317edaa47f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="aca30b40-f668-4225-bb60-366874eb84e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="51f73d72-f6f6-41c1-95dc-4ecee452be9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="ee26645c-dffa-484f-a3ac-bfe91e7f7a4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="99188e74-7cca-4409-b47e-dd966822cf25")>]

In [75]:
#now  converting  them  to text  formats
for i  in  company_tag:
    company=i.text.strip('[]')
    work_co.append(company)
work_co[0:10]

['Myntra',
 'Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Accenture',
 'Flipkart',
 'Wipro']

In [77]:
#now  we  will scarping  all  the1st  10  experiences   of  all  the comapnies 
exp_title=[]

exp_tag = driver1.find_elements("xpath",('//li[@class="fleft grey-text br2 placeHolderLi experience"]'))
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="a03c6b74-8bee-481b-afe6-d619f25be252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="2d901aef-dff0-444c-a0a5-fc149a84f49b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="7d6e7344-2bab-42da-93b5-e8d640f46139")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="a7950e9c-22a8-471d-be20-07020f498aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="a92717c6-f8d6-404a-b68a-6a83f798543d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="ad93ed48-42a1-4d1b-b1db-7446b3031417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="c6d02d0f-37c9-4251-96aa-edd26465fc4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="c0581982-759d-48ed-b748-291485a260be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="65c87304-fbb4-440e-9da8-a13eede0c2e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e734d2785d8ac348af12cb9d9b1b2faa", element="180ce524-6278-431a-92e0-f36fdfcf0cbb")>]

In [78]:
# now  we  will converting  the  fetched items  as  text format 
for i in exp_tag:
    exps=i.text
    exp_title.append(exps)
exp_title[0:10]

['0-2 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs']

In [79]:
naukri_data = pd.DataFrame({})
naukri_data['Job_titles']=job_title
naukri_data['job_location']=job_loc
naukri_data['company names']=work_co
naukri_data['experiences']=exp_title
naukri_data[0:10]

,Job_titles,job_location,company names,experiences
0,Associate - Data Analyst,Bangalore/Bengaluru,Myntra,0-2 Yrs
1,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka",Collabera,6-11 Yrs
2,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
3,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
4,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
7,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,2-5 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

In [80]:
#command for open  the  automation window of browser 
driver2 = webdriver.Chrome('chromedriver.exe')

In [81]:
#now  the automation page is opened now , we are opening  the required website page  in it 
driver2.get('https://www.naukri.com/')

In [84]:
#now  checking   for  the position which is required  to search  here ex-data anlyst
search_feild_designation= driver2.find_element(By.CLASS_NAME,'suggestor-input')
search_feild_designation.send_keys('Data Analyst')

In [86]:
#now we will  find the  element  for  the search button,  to click and  search  for  the desired results 

search_button= driver2.find_element("xpath",('/html/body/div/div[2]/div[3]/div/div/div[6]'))
search_button.click()

In [88]:
#Scraping the company names 
co_names=[]

comp2_tag= driver2.find_elements("xpath",('//a[@class="subTitle ellipsis fleft"]'))
comp2_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="cc9a967b-158b-45b1-baac-a8d54ab564a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="3b051adb-74bd-41b9-bf02-01630d6c1236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="5b2613cc-d7d4-4279-bfc0-e7ef673a44a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="8eaef32c-af6f-46a9-ba1a-8e7f11194b7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="d4f9817c-759d-405f-b1e7-e53e81cbc96a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="fcbc9372-ccff-4efc-8f36-7a6b6c624bf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="05160484-73ae-469f-a89c-4d307960eefb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="4f901b2f-54fb-4f6f-9e4d-e908f6d38481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="6a6a18a8-302d-4433-a9f3-25a7e1a8c1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="a779c898-acb4-4758-b2c8-16cb2b4fd849")>]

In [89]:
#  now converting  the names  to ,text
for i in  comp2_tag:
    comp=i.text
    co_names.append(comp)
co_names[0:10]

['Shiv Singh',
 'Myntra',
 'Capgemini',
 'Condeco Software',
 'Wipro',
 'Optum',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'Collabera',
 'Morningstar']

In [91]:
#scraping  the , all  10 job-titles
job_title2=[]

title_tag2= driver2.find_elements("xpath",('//a[@class="title fw500 ellipsis"]'))
title_tag2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="9e93f818-7049-43b8-a2f1-b63095ee851c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="cd0bb360-1b94-4284-8219-d3604f2c0aad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="5226e50d-6fc8-4182-8f7f-6e91846bd5f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="d4f7aa8e-139d-4b27-87ee-5e265b48371a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="4af76fca-81a7-4e49-b365-3aaf691139f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="7c28d7dd-6018-48ad-845d-c62986360ef0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="b1d81e53-68da-425b-9432-8d35d2aebffe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="9dc720c9-899e-401e-8116-51ce86fa78cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="dd15c0b4-16d0-4258-b7a0-4a2b820f8abc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="bc1378bf-5471-4241-a165-30d78e9709e5")>]

In [92]:
#now converting  all  the job titles  to text
for i in title_tag2:
    titles=i.text
    job_title2.append(titles)
job_title2[0:10]

['Petroleum Data Analyst',
 'Associate - Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Associate Manager Data Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Sr Data Analyst',
 'Sr.Business Data Analyst',
 'Data research analyst']

In [94]:
#now scarping all  the  job_locations finally  
job_location=[]

job_tags= driver2.find_elements("xpath",('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]'))
job_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="99517cea-a6dd-46f8-8cd6-60f837b369ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="0f2ab896-e253-4d9c-b892-64e19d4d01e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="f4d997ee-414a-404d-8a2b-3589c4bfe7dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="e0368bde-2c24-429d-ad98-ad660e4433f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="f1c01885-2065-4e09-b804-51a9aac54900")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="4988cd80-e3f0-46cb-8705-ad3ec9954c3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="7d44df9e-049e-42b5-ab35-bb2a4a13f22e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="6b8bf6c9-ce39-48df-bc6d-4f24d661087f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="76e91698-d083-4847-a656-ed72b0884fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="46f1b46f6f3bef8257d3007c4106c703", element="a8bc3480-8db9-4e8d-b00f-ccb32e91117b")>]

In [95]:
# converting all  the location into text
for i in job_tags:
    jobs=i.text
    job_location.append(jobs)
job_location[0:10]

['Kolkata, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas), Pune',
 'Noida',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka',
 'Mumbai']

In [96]:
#creating  a Dataframe  here 
naukri_data_science=pd.DataFrame({})
naukri_data_science['companies']=co_names
naukri_data_science['job_titles']=job_title2
naukri_data_science['location']=job_location
naukri_data_science[0:10]

,companies,job_titles,location
0,Shiv Singh,Petroleum Data Analyst,"Kolkata, Delhi / NCR, Mumbai (All Areas)"
1,Myntra,Associate - Data Analyst,Bangalore/Bengaluru
2,Capgemini,Data Analyst,Gurgaon/Gurugram
3,Condeco Software,Senior Data Analyst,Gurgaon/Gurugram
4,Wipro,Data Analyst,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugra..."
5,Optum,Associate Manager Data Analyst,Noida
6,CURise Analytics Pvt. Ltd.,Job opportunity For Data Analyst at Trellance ...,"Ahmedabad, Bangalore/Bengaluru"
7,Thomson Reuters,Sr Data Analyst,Bangalore/Bengaluru
8,Collabera,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka"
9,Morningstar,Data research analyst,Mumbai

## Answer (3)You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [126]:
#command for open  the  automation window of browser 
driver3 = webdriver.Chrome('chromedriver.exe')

In [127]:
#now  the automation page is opened now , we are opening  the required website page  in it 
driver3.get('https://www.naukri.com/')

In [128]:
#now  checking   for  the position which is required  to search  here ex-data anlyst
search_field_designation= driver3.find_element(By.CLASS_NAME,'suggestor-input')
search_field_designation.send_keys('Data scientist')

In [129]:
#now we will  find the  element  for  the search button,  to click and  search  for  the desired results 

search_button= driver3.find_element("xpath",('/html/body/div/div[2]/div[3]/div/div/div[6]'))
search_button.click()

In [155]:
#checking  the  checkbox 
loc_check_box = driver3.find_elements("xpath",'//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span')
sal_check_box = driver3.find_elements("xpath",'//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')

In [157]:
#scraping  the job-titles
#creating empty list  for  storage
job_profiles = []
companies = []
experiences = []
salaries = []
locations = []

job_profile=driver3.find_elements("xpath","//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")[0:10]

company=driver3.find_elements("xpath","//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]")[0:10]

experience=driver3.find_elements("xpath","//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[1]")[0:10]

salary = driver3.find_elements("xpath","//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")[0:10]

location = driver3.find_elements("xpath","//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span")[0:10]
#fetching  all  the  code  data  from  paths  as text  using multiple  for loops
for job in job_profile:
    job_profiles.append(job.text)   # for job-title
    
for comp in company:
    companies.append(comp.text)   # for companies

for exp in experience:
    experiences.append(exp.text)  # for experiences
    
for sal in salary:
    salaries.append(sal.text)  #  for salary
    
for loc in location:
    locations.append(loc.text)  # for locations

job_df=pd.DataFrame({'Job_Profile':job_profiles,
                         'Company':companies,
                         'Experience':experiences,
                         'Salary':salaries,
                         'Location':locations})
job_df

,Job_Profile,Company,Experience,Salary,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,Not disclosed,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),8-13 Yrs,Not disclosed,"Bangalore/Bengaluru, Pune"
2,Dataiku Consultant,Wipro,10-16 Yrs,Not disclosed,"Bangalore/Bengaluru, Pune, Chennai"
3,Data Scientist,Applied Materials,4-7 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,6-10 Yrs,Not disclosed,Bangalore/Bengaluru
5,Data Scientist: Advanced Analytics,IBM,2-7 Yrs,Not disclosed,Bangalore/Bengaluru
6,Research Scientist,IBM,3-7 Yrs,Not disclosed,Bangalore/Bengaluru
7,Principal - Data Scientist,Schneider Electric,7-10 Yrs,Not disclosed,Bangalore/Bengaluru
8,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,Not disclosed,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
9,Data Science - Engineering Manager,Paytm,9-13 Yrs,Not disclosed,"Bangalore/Bengaluru, Noida, Mumbai"

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price

In [160]:
#command  for  opening  the automation window 
driver4 = webdriver.Chrome('chromedriver.exe')

In [161]:
#now  the automation page is opened now , we are opening  the required website page  in it 
driver4.get('http://www.flipkart.com/')

In [168]:
#now  checking   for  the sunglasses @  flipkart search box
search_field_designation= driver4.find_elements("xpath",'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [169]:
search_product=driver4.find_element(By.CLASS_NAME,'_3704LK').send_keys("Sunglasses")

In [170]:
search_button4= driver4.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [171]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand:
    brand_name.append(i.text)

In [172]:
product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product:
    product_desc.append(i.text)

In [173]:
price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price:
    product_price.append(i.text)

In [174]:
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off:
    Discount.append(i.text)

In [175]:
product_1=pd.DataFrame({'Brand Name':brand_name,'Product Description':product_desc,'Price':product_price,'Discount':Discount})
product_1[:40]

,Brand Name,Product Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
1,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹749,62% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
5,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
6,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265,86% off
7,povty,UV Protection Retro Square Sunglasses (Free Size),₹319,68% off
8,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
10,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
11,ROYAL SON,UV Protection Retro Square Sunglasses (55),₹616,69% off
12,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
13,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
14,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
15,GANSTA,UV Protection Aviator Sunglasses (57),₹314,84% off
16,SRPM,UV Protection Wayfarer Sunglasses (50),₹224,82% off
17,PIRASO,UV Protection Retro Square Sunglasses (52),₹306,88% off
18,PIRASO,UV Protection Aviator Sunglasses (58),₹359,86% off
19,Arnette,Others Oval Sunglasses (53),"₹5,749",10% off
20,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹331,83% off
21,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
22,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
23,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",₹759,62% off
24,PIRASO,UV Protection Aviator Sunglasses (54),₹246,84% off
25,PIRASO,UV Protection Over-sized Sunglasses (65),₹410,84% off
26,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
27,john jacobs,UV Protection Wayfarer Sunglasses (46),"₹3,000",50% off
28,PIRASO,UV Protection Wayfarer Sunglasses (32),₹226,85% off
29,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹229,82% off
30,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹279,78% off
31,hipe,Mirrored Wayfarer Sunglasses (55),₹233,76% off
32,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039",20% off
33,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹474,76% off
34,NuVew,UV Protection Sports Sunglasses (62),₹291,76% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949,52% off
36,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹164,86% off
37,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189,68% off
38,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
39,ROYAL SON,UV Protection Over-sized Sunglasses (61),₹699,65% off

In [176]:
page_2=driver4.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [177]:

brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand:
    brand_name.append(i.text)

product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product:
    product_desc.append(i.text)

price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off:
    Discount.append(i.text)
    
product_2=pd.DataFrame({'Brand Name':brand_name[:40],'Product Description':product_desc[:40],'Price':product_price[:40],'Discount':Discount[:40]})

In [178]:
page_3=driver4.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [179]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand:
    brand_name.append(i.text)
    
product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product:
    product_desc.append(i.text)
    
price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off:
    Discount.append(i.text)
    
product_3=pd.DataFrame({'Brand Name':brand_name[:40],'Product Description':product_desc[:40],'Price':product_price[:40],'Discount':Discount[:40]})

In [180]:
page_4=driver4.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [181]:
brand=driver4.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name=[]
for i in brand:
    brand_name.append(i.text)
    
product=driver4.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc=[]
for i in product:
    product_desc.append(i.text)
    
price=driver4.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price=[]
for i in price:
    product_price.append(i.text)
    
price_off=driver4.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount=[]
for i in price_off:
    Discount.append(i.text)
    
product_4=pd.DataFrame({'Brand Name':brand_name[:40],'Product Description':product_desc[:40],'Price':product_price[:40],'Discount':Discount[:40]})

In [182]:
product=pd.concat([product_1,product_2,product_3], ignore_index=True)
product[:100]

,Brand Name,Product Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
1,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹749,62% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
...,...,...,...,...
95,Arnette,Others Oval Sunglasses (53),"₹5,749",10% off
96,SRPM,UV Protection Wayfarer Sunglasses (50),₹224,82% off
97,PIRASO,UV Protection Retro Square Sunglasses (52),₹306,88% off
98,PIRASO,UV Protection Aviator Sunglasses (58),₹359,86% off
99,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",₹759,62% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
### This task will be done in following steps:
### 1. First get the webpage https://www.flipkart.com/
### 2. Enter “iphone 11” in “Search” field . 
### 3. Then click the search button.

In [188]:
driver5 = webdriver.Chrome('chromedriver.exe')
# opening the  automation window  now

In [189]:
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [192]:
#for  showing  all  the  elements  or for  expanding  the neccessary elements 
show_all_review_button = driver5.find_elements("xpath",'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div')

In [193]:
search_button5= driver5.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [194]:
All_reviews=driver5.find_element("xpath",'//div[@class="_3UAT2v _16PBlm"]').click()

In [195]:
rating_tag1=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating1=[]
for i in rating_tag1:
    rating1.append(i.text)

review_sum1=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review1=[]
for i in review_sum1:
    review1.append(i.text)

review_full1=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review1=[]
for i in review_full1:
    full_review1.append(i.text.replace('\n',' , '))

iphone11_reviews1=pd.DataFrame({'Rating':rating1,'Review Summary':review1,'Full Review':full_review1})

In [196]:
next_2=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [197]:
rating_tag2=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating2=[]
for i in rating_tag2:
    rating2.append(i.text)

review_sum2=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review2=[]
for i in review_sum2:
    review2.append(i.text)

review_full2=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review2=[]
for i in review_full2:
    full_review2.append(i.text.replace('\n',' , '))
    
iphone11_reviews2=pd.DataFrame({'Rating':rating2,'Review Summary':review2,'Full Review':full_review2})

In [198]:
next_3=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [199]:
rating_tag3=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating3=[]
for i in rating_tag3:
    rating3.append(i.text)

review_sum3=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review3=[]
for i in review_sum3:
    review3.append(i.text)

review_full3=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review3=[]
for i in review_full3:
    full_review3.append(i.text.replace('\n',' , '))    
    
iphone11_reviews3=pd.DataFrame({'Rating':rating3,'Review Summary':review3,'Full Review':full_review3})

In [200]:
next_4=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [201]:
rating_tag4=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating4=[]
for i in rating_tag4:
    rating4.append(i.text)

review_sum4=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review4=[]
for i in review_sum4:
    review4.append(i.text)

review_full4=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review4=[]
for i in review_full4:
    full_review4.append(i.text.replace('\n',' , '))
        
iphone11_reviews4=pd.DataFrame({'Rating':rating4,'Review Summary':review4,'Full Review':full_review4})

In [202]:
next_5=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [203]:
rating_tag5=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating5=[]
for i in rating_tag5:
    rating5.append(i.text)

review_sum5=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review5=[]
for i in review_sum5:
    review5.append(i.text)

review_full5=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review5=[]
for i in review_full5:
    full_review5.append(i.text.replace('\n',' , '))
    
iphone11_reviews5=pd.DataFrame({'Rating':rating5,'Review Summary':review5,'Full Review':full_review5})

In [204]:
next_6=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [205]:
rating_tag6=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating6=[]
for i in rating_tag6:
    rating6.append(i.text)

review_sum6=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review6=[]

for i in review_sum6:
    review6.append(i.text)

review_full6=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review6=[]
for i in review_full6:
    full_review6.append(i.text.replace('\n',' , '))
    
iphone11_reviews6=pd.DataFrame({'Rating':rating6,'Review Summary':review6,'Full Review':full_review6})

In [206]:
next_7=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [207]:
rating_tag7=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating7=[]
for i in rating_tag7:
    rating7.append(i.text)

review_sum7=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review7=[]
for i in review_sum7:
    review7.append(i.text)

review_full7=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review7=[]
for i in review_full7:
    full_review7.append(i.text.replace('\n',' , '))
    
iphone11_reviews7=pd.DataFrame({'Rating':rating7,'Review Summary':review7,'Full Review':full_review7})

In [208]:
next_8=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [209]:
rating_tag8=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating8=[]
for i in rating_tag8:
    rating8.append(i.text)

review_sum8=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review8=[]
for i in review_sum8:
    review8.append(i.text)

review_full8=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review8=[]
for i in review_full8:
    full_review8.append(i.text.replace('\n',' , '))
    
iphone11_reviews8=pd.DataFrame({'Rating':rating8,'Review Summary':review8,'Full Review':full_review8})

In [210]:
next_9=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [211]:
rating_tag9=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating9=[]
for i in rating_tag9:
    rating9.append(i.text)

review_sum9=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review9=[]
for i in review_sum9:
    review9.append(i.text)

review_full9=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review9=[]
for i in review_full9:
    full_review9.append(i.text.replace('\n',' , '))
    
iphone11_reviews9=pd.DataFrame({'Rating':rating9,'Review Summary':review9,'Full Review':full_review9})

In [212]:
next_0=driver5.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [213]:
rating_tag0=driver5.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
rating0=[]
for i in rating_tag0:
    rating0.append(i.text)

review_sum0=driver5.find_elements("xpath",'//p[@class="_2-N8zT"]')
review0=[]
for i in review_sum0:
    review0.append(i.text)

review_full0=driver5.find_elements("xpath",'//div[@class="t-ZTKy"]')
full_review0=[]
for i in review_full0:
    full_review0.append(i.text.replace('\n',' , '))
    
iphone11_reviews0=pd.DataFrame({'Rating':rating0,'Review Summary':review0,'Full Review':full_review0})

In [214]:
iphone11_reviews=pd.concat([iphone11_reviews1,iphone11_reviews2,iphone11_reviews3,iphone11_reviews4,iphone11_reviews5,iphone11_reviews6,iphone11_reviews7,iphone11_reviews8,iphone11_reviews9,iphone11_reviews0], ignore_index=True)
iphone11_reviews[:100]

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Terrific,Really worth of money. i just love it. It is t...
97,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
### You have to scrape 4 attributes of each sneaker:
### 1. Brand
### 2. Product Description
### 3. Price

In [216]:
driver6=webdriver.Chrome('chromedriver.exe')
driver6.get('https://www.flipkart.com/')

In [217]:
pop_close = driver6.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [218]:
search_product6=driver6.find_element(By.CLASS_NAME,'_3704LK').send_keys("sneakers")

In [219]:
search_button6= driver6.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [220]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)

In [221]:
print(len(product_desc6),len(product_price6),len(Discount6),len(brand_name6))

32 40 40 40

In [222]:
sneaker1=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [223]:
page_2=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [224]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker2=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [225]:
page_3=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [226]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker3=pd.DataFrame({'Brand Name':brand_name6[:30],'Product Description':product_desc6[:30], 'Product Price':product_price6[:30],'Discount':Discount6[:30]})

In [227]:
page_4=driver6.find_element("xpath",'//a[@class="_1LKTO3"]').click()

In [228]:
brand6=driver6.find_elements("xpath",'//div[@class="_2WkVRV"]')
brand_name6=[]
for i in brand6:
    brand_name6.append(i.text)
    
product6=driver6.find_elements("xpath",'//a[@class="IRpwTa"]')
product_desc6=[]
for i in product6:
    product_desc6.append(i.text)
    
price6=driver6.find_elements("xpath",'//div[@class="_30jeq3"]')
product_price6=[]
for i in price6:
    product_price6.append(i.text)
    
price_off6=driver6.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
Discount6=[]
for i in price_off6:
    Discount6.append(i.text)
    
sneaker4=pd.DataFrame({'Brand Name':brand_name6[:10],'Product Description':product_desc6[:10], 'Product Price':product_price6[:10],'Discount':Discount6[:10]})

In [229]:
sneaker=pd.concat([sneaker1,sneaker2,sneaker3,sneaker4], ignore_index=True)
sneaker[:100]

,Brand Name,Product Description,Product Price,Discount
0,Scull Wings,luxury fashionable casual sneaker shoes Sneake...,₹499,66% off
1,luxury fashion,Sneakers For Men,₹455,64% off
2,WOODLAND,Modern Trendy Sneakers Shoes Sneakers For Men,"₹1,797",40% off
3,BRUTON,Sneakers For Men,₹284,78% off
4,SFR,Modern Trendy Sneakers Shoes Sneakers For Men,₹289,71% off
...,...,...,...,...
95,D-SNEAKERZ,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹299,54% off
96,Robbie jones,Lattest Sneakers Shoe Sneakers For Men,₹449,55% off
97,ADDOP,White Sneaker For Men's/Boy's Sneakers For Men,₹749,62% off
98,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹269,79% off
99,Shoes Bank,Fashionable Luxury Canvas Casual Outdoor Sneak...,₹297,70% off

## Q7  scrape First 100 shoes data you get from  - https://www.myntra.com/shoes. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [256]:
driver7=webdriver.Chrome('chromedriver.exe')

In [257]:
driver7.maximize_window()

In [258]:
driver7.get('https://www.myntra.com/shoes')

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00406463+2188387]
	Ordinal0 [0x0039E461+1762401]
	Ordinal0 [0x002B3D78+802168]
	Ordinal0 [0x002A7210+750096]
	Ordinal0 [0x002A675A+747354]
	Ordinal0 [0x002A5D3F+744767]
	Ordinal0 [0x002A4C28+740392]
	Ordinal0 [0x002A5228+741928]
	Ordinal0 [0x002AEF2F+782127]
	Ordinal0 [0x002B9FBB+827323]
	Ordinal0 [0x002BD310+840464]
	Ordinal0 [0x002A54F6+742646]
	Ordinal0 [0x002B9BF3+826355]
	Ordinal0 [0x0030CF6D+1167213]
	Ordinal0 [0x002FC5F6+1099254]
	Ordinal0 [0x002D6BE0+945120]
	Ordinal0 [0x002D7AD6+948950]
	GetHandleVerifier [0x006A71F2+2712546]
	GetHandleVerifier [0x0069886D+2652765]
	GetHandleVerifier [0x0049002A+520730]
	GetHandleVerifier [0x0048EE06+516086]
	Ordinal0 [0x003A468B+1787531]
	Ordinal0 [0x003A8E88+1805960]
	Ordinal0 [0x003A8F75+1806197]
	Ordinal0 [0x003B1DF1+1842673]
	BaseThreadInitThunk [0x772AFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77877A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77877A6E+238]

# Not able to scrap the data from myntra.com

## Q8 scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:1. Title 
## 2.Ratings
## 3. Price

In [44]:
driver8=webdriver.Chrome('chromedriver.exe')
driver8.get('https://www.amazon.in/')

In [46]:
search_product8=driver8.find_element(By.ID,"twotabsearchtextbox").send_keys("Laptop")

In [47]:
search_product8=driver8.find_element(By.ID,"nav-search-submit-button").click()

In [48]:
Driveramazon = driver8.find_element('xpath','/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i').click()

In [49]:
title8=driver8.find_elements("xpath",'//span[@class="a-size-medium a-color-base a-text-normal"]')
title=[]
for i in title8:
    title.append(i.text)
    

Ratings8=driver8.find_elements("xpath",'//div[@class="a-row a-size-small"]')
rating8=[]
for i in Ratings8:
    rating8.append(i.text)
    
price8=driver8.find_elements("xpath",'//span[@class="a-price-whole"]')
price_8=[]
for i in price8:
    price_8.append(i.text)

In [52]:
laptop=pd.DataFrame({'Laptop Name':title[:10],'Rating':rating8[:10], 'Price':price_8[:10]})
laptop[:10]

                                         Laptop Name Rating   Price
0  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  1,433  25,990
1  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...     20  28,980
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...    128  23,049
3  AVITA SATUS ULTIMUS S111 NU14A1INC43PN-CS 14.1...     52  21,990
4  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...     95  23,990
5  Lenovo V15 Intel Celeron N4020 15.6 inches FHD...     10  26,690
6  Lenovo IdeaPad Slim 3 Intel Celeron N4020 14''...    222  28,249
7  Lenovo IdeaPad Slim 3 Chromebook Intel Celeron...     26  22,990
8  AVITA Essential Refresh NE14A2INC43A-MB 14-inc...    416  21,990
9  ASUS BR1100 Notebook 12 (2022), 11.6-inch HD, ...      4  29,490

In [318]:
for i in i7:
    icore=i.text
    icore7_title.append(icore)
    
core_title=icore7_title[:10]
core_title

[]

## 9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [4]:
# importing all  the neccessary libs
import pandas as pd 
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [5]:
#openig  the  autonation window
driver9=webdriver.Chrome("chromedriver.exe")

In [6]:
#opening  the  webpage 
driver9.get('https://www.ambitionbox.com/')

In [25]:
jobs=driver9.find_element("xpath",'/html/body/div[1]/nav/nav/a[6]').click()

In [26]:

search_jobs=driver9.find_element("xpath",'//INPUT[@class="input tt-input"]').send_keys("Data Scientist")

In [27]:
search_button9= driver9.find_element(By.CLASS_NAME,"ctas-btn-medium").click()

In [28]:
#now  finding  the  locarion from the  drop down menu 
location=driver9.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [29]:
search_location=driver9.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys("Noida")

In [30]:
job_location=driver9.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [31]:
job_tags=driver9.find_elements("xpath",'//a[@class="title noclick"]')
jobs_title=[]
for i in job_tags:
    jobs_title.append(i.text)
    
job_comp1=driver9.find_elements("xpath",'//p[@class="company body-medium"]')
jobs_comp=[]
for i in job_comp1:
    jobs_comp.append(i.text)
    
Job_post=driver9.find_elements("xpath"," //div[@class='other-info']/span[1]" )
job_posted=[]
for i in Job_post:
    job_posted.append(i.text)
    
comp_rat1=driver9.find_elements(By.CLASS_NAME,"body-small")
comp_ratg=[]
for i in comp_rat1:
    comp_ratg.append(i.text)

In [32]:
Ambition=pd.DataFrame({'Company Name':jobs_comp,'Job Posted':job_posted,'Rating':comp_ratg})
Ambition[:10]

                                     Company Name Job Posted Rating
0  Optum Global Solutions (India) Private Limited    11d ago    4.1
1                   GENPACT India Private Limited    18d ago    4.0
2                                   Latent bridge     2d ago    4.5
3                         Dew Solutions Pvt. Ltd.     9d ago    4.3
4                             InfoEdge India Ltd.    16d ago    3.9
5                         Info Edge India Limited    17d ago    3.9
6                         Info Edge India Limited    17d ago    3.9
7                                       Careerera     4d ago    3.8
8                                         CRMnext    12d ago    4.1
9                            Careernet Consulting   1mon ago    3.9

## Q.10.Answer: A python program to scrape the salary data for Data Scientist designation with Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [33]:
driver10=webdriver.Chrome('chromedriver.exe')
driver10.get('https://www.ambitionbox.com/')

In [35]:
salaries=driver10.find_element("xpath",'/html/body/div[1]/nav/nav/a[4]').click()

In [37]:
search_job2=driver10.find_element("xpath","//input[@class='tt-input']").send_keys("Data Scientist")

In [41]:
search_button10 = driver10.find_element(By.CLASS_NAME,'tt_text')

In [42]:
company_tag = driver10.find_elements("xpath","//div[@class='company-info']/a")
Company_name = []
for i in company_tag : 
    Company_name.append(i.text.split('\n')[0])
    
exp_tag = driver10.find_elements("xpath","//div[@class='sbold-list-header']")
Experience = []
for i in exp_tag : 
    Experience.append(i.text.split()[0]+" "+i.text.split()[1])   

salary_records = driver10.find_elements("xpath","//span[@class='datapoints']")
Total_Salary_Records = []
for i in salary_records: 
    Total_Salary_Records.append(i.text)

    
avg_salary = driver10.find_elements("xpath","//p[@class='averageCtc']")
Average_Salary = []
for i in avg_salary : 
    Average_Salary.append(i.text)
    
min_salary = driver10.find_elements("xpath","//div[@class='salary-values']")
Minimum_Salary = []
for i in min_salary : 
    Minimum_Salary.append(i.text.split("\n")[0])   
    
max_salary = driver10.find_elements("xpath","//div[@class='salary-values']")
Maximum_Salary = []
for i in max_salary : 
    Maximum_Salary.append(i.text.split("\n")[1])

In [43]:
data_ambition=pd.DataFrame({'Company Name':Company_name, 'Experience': Experience,'Total Salary Record':Total_Salary_Records, 'Average Salary': Average_Salary, 'Minimum Salary':Minimum_Salary, 'Maximum Salary':Maximum_Salary})
data_ambition[:10]

,Company Name,Experience,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary
0,Google,1-3 yrs,(based on 35 salaries),₹ 31.3L,₹ 11.0L,₹ 65.0L
1,Microsoft Corporation,1-4 yrs,(based on 274 salaries),₹ 24.0L,₹ 13.0L,₹ 50.0L
2,Goldman Sachs,2 yrs,(based on 18 salaries),₹ 23.0L,₹ 12.0L,₹ 34.0L
3,Tekion,2-4 yrs,(based on 35 salaries),₹ 21.2L,₹ 12.0L,₹ 33.0L
4,Amazon,1-4 yrs,(based on 122 salaries),₹ 21.0L,₹ 8.0L,₹ 45.0L
5,Servicenow Software Development India,2-4 yrs,(based on 60 salaries),₹ 20.5L,₹ 13.0L,₹ 28.0L
6,Flipkart,1-4 yrs,(based on 64 salaries),₹ 20.4L,₹ 7.5L,₹ 31.0L
7,Walmart,1-4 yrs,(based on 87 salaries),₹ 20.0L,₹ 11.4L,₹ 32.5L
8,PayPal,1-2 yrs,(based on 29 salaries),₹ 19.9L,₹ 11.0L,₹ 31.0L
9,Myntra,1 yr,(based on 10 salaries),₹ 19.5L,₹ 14.0L,₹ 27.0L